<!DOCTYPE html>
<html>
<head>
      <link rel="stylesheet" type="text/css" href="css/juego.css"/> 
      <link rel="stylesheet" type="text/css" href="css/bienvenida.css"/> 
</head>
</html>

<body>

    <h1 class="titulo">La posicion final es:</h1>
    <div class="principal">

         

         <div class="comandos">
            <p></p> <%=@resultado%>

        <%end%>

<br><br><br>

            <form method='post' action ='/menu'>
            <input type='submit' value='VOLVER A JUGAR' class="boton">
    </div>
   


    
    </div>

   
</body>