<!DOCTYPE html>
<html>
<head>
      <link rel="stylesheet" type="text/css" href="css/juego.css"/> 
</head>


<body>

    <h1>La posicion final es:</h1>
         

         <div class="comandos">
            <p><%=@resultado%></p> 

<br><br><br>

            <form method='get' action ='/menu'>
            <input type='submit' value='VOLVER A JUGAR' class="boton">
    </div>


</body>
</html>