

.comandos{
    text-align: center;
    margin-top: 200px;
    margin-right: 200px;
}

.boton{
   font-size: 20px;
    background: #5564eb;
    color: #fafbfd
}

.boton:hover{
    background: #ffa420;
    color: #fafbfd
}

